:root {
  --white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --social-icon-bg-accent-color: #31d0aa;
  --social-icon-bg-color: #4d5ae5;
  --accent-color: #404bbf;
  --secondary-color: #2e2f42;
  --main-font: 'Roboto', sans-serif;
  --main-font-size: 16px;
  --main-line-hight: 1.5;
  --main-letter-spacing: 0.02em;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  letter-spacing: var(--main-letter-spacing);
  color: #434455;
  background-color: var(--white-color);
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

button {
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--secondary-color);
}
@media screen and (max-width: 1157px) {
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* ----------COMPONENTS---------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  color: var(--secondary-color);
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  margin-bottom: 72px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* ----------HEADER---------- */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-light-bg {
  color: var(--secondary-color);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .page-adress {
    display: none;
  }
  .mobile-menu-open-btn {
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .mobile-menu-open-icon {
    fill: var(--secondary-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    max-height: 796px;
    top: 0;
    left: 0;
    background: var(--white-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: scroll;
  }

  .mobile-menu-contaner {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  .mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: auto;
  }

  .mobile-menu-nav-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition: color 250ms var(--transition-cubic);
  }
  .mobile-menu-item:hover,
  .mobile-menu-item:focus {
    color: var(--accent-color);
  }
  .mobole-menu-active-page {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-contact-container {
    margin-top: auto;
  }
  .mobile-menu-adress-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .mobile-menu-contact-tell {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    transition: color 250ms var(--transition-cubic);
  }
  .mobile-menu-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .mobile-menu-social-list {
    display: flex;
    column-gap: 56px;
    row-gap: 15px;
    margin-top: 48px;
    flex-wrap: wrap;
  }
  .mobile-menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--social-icon-bg-color);
    transition: background-color 250ms var(--transition-cubic);
  }
  .mobile-menu-social-link:hover,
  .mobile-menu-social-link:focus {
    background-color: var(--accent-color);
  }
  .mobile-menu-social-icon {
    fill: var(--secondary-white-color);
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #e7e9fc;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: var(--accent-color);
    fill: var(--white-color);
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .logo {
    margin-right: 120px;
  }
  .menu-item {
    font-weight: 500;
    color: var(--secondary-color);
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: var(--main-line-hight);
    letter-spacing: var(--main-letter-spacing);
  }
  .adress-item {
    font-family: var(--main-font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active-page {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active-page::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .adress-item {
    font-size: var(--main-font-size);
    line-height: var(--main-line-hight);
    letter-spacing: var(--main-letter-spacing);
  }
  .header-adress-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

/* ----------HERO---------- */

.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/mobile-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--secondary-color);
  width: 100%;
  height: 432px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
}
.main-page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  background-color: #4d5ae5;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 12px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/mobile-hero-bg@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/tablet-hero-bg.jpg);
    height: 436px;
  }
  .main-page-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .hero-button {
    margin-top: 36px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/tablet-hero-bg@2x.jpg');
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/desktop-hero-bg.jpg');
    padding-top: 188px;
    padding-bottom: 188px;
    height: 600px;
  }
  .hero-button {
    margin-top: 48px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/desktop-hero-bg@2x.jpg');
  }
}

/* ----------FEATURES---------- */
.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--secondary-white-color);
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 1157px) {
  .features-icon-box {
    display: none;
  }
  .features-list-item > .subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--secondary-color);
    text-align: center;
    letter-spacing: var(--main-letter-spacing);
    margin-bottom: 8px;
  }
  .features-item-description {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .features-container {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
  }
  .features-list-item {
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* ----------WHAT ARE WE DOING---------- */
@media screen and (max-width: 1157px) {
  .products-section {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .products-list {
    display: flex;
    gap: 24px;
  }
  .products-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .products-section {
    padding-bottom: 120px;
  }
}

/* ---------- OUR TEAM---------- */
.team-section {
  background-color: var(--secondary-white-color);
}
.team-item {
  background-color: var(--white-color);
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-text-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item-description {
  margin-bottom: 8px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--social-icon-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list-item .social-icon-link:hover,
.team-social-list-item .social-icon-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: var(--secondary-white-color);
}
@media screen and (max-width: 768px) {
  .team-list {
    flex-direction: column;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
/* ----------CUSTOMERS---------- */
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .customers-list {
    gap: 72px 16px;
  }
}
@media screen and (max-width: 1157px) {
  .customers-list {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .customers-list {
    gap: 24px;
  }
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
}

/* ----------PORTFOLIO---------- */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button {
  background-color: var(--secondary-white-color);
  color: #4d5ae5;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-txt-style {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-hight);
  letter-spacing: var(--main-letter-spacing);
  color: #434455;
}
.portfolio-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.projekt-cards-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.projekt-cards-text-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.projekt-cards-img-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: var(--secondary-white-color);
  background-color: var(--social-icon-bg-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card-link:hover .overlay,
.project-card-link:focus .overlay {
  transform: translateY(0%);
}

/* ----------FOOTER---------- */
.logo-studio-dark-bg {
  color: var(--secondary-white-color);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-contant-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.media {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-item .social-icon-link:hover,
.footer-social-list-item .social-icon-link:focus {
  background-color: #31d0aa;
}

.footer-form-input {
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-form-input:focus {
  border-color: var(--social-icon-bg-accent-color);
  outline: transparent;
}

.footer-form-btn {
  position: relative;
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--social-icon-bg-accent-color);
}
.footer-form-btn-icon {
  margin-left: 16px;
  fill: var(--white-color);
}
.footer-conten-left-side {
  color: var(--secondary-white-color);
  width: 264px;
}
@media screen and (max-width: 1157px) {
  .footer-contant-box {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media screen and (max-width: 767px) {
  .footer-form-box {
    width: 100%;
  }
  .footer-form {
    flex-direction: column;
    gap: 16px;
  }

  .media {
    text-align: center;
  }
  .logo-footer {
    display: block;
    text-align: center;
  }
  .footer-form-label {
    width: 100%;
  }
  .footer-form-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-contant-box {
    align-items: baseline;
    justify-content: flex-start;
  }
  .footer-form-label {
    margin-right: 24px;
  }
  .footer-form-input {
    width: 264px;
  }
}
@media (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    width: 100%;
  }
  .footer-contant-box {
    width: 552px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1158px) {
  .footer-social-box {
    margin-left: 120px;
  }
  .footer-form-box {
    margin-left: auto;
  }
}
/* ----------MODAL---------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  width: 408px;
  height: 584px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
  border: none;
}
.modal-call-message {
  color: var(--secondary-color);
  font-weight: 500;
  margin-bottom: 16px;
  max-width: 360px;
  text-align: center;
}

.modal-form-input {
  height: 40px;
  width: 100%;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-input-textarea:focus {
  border-color: var(--social-icon-bg-color);
}
.modal-form-input:focus + .modal-input-icon {
  fill: var(--social-icon-bg-color);
}
.modal-input-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.user-policy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-wrapper {
  margin-bottom: 8px;
}
.modal-comment-wrapper {
  margin-bottom: 16px;
}
.modal-input-textarea {
  display: block;
  height: 120px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  resize: none;
  font-family: 'Roboto';
  font-style: normal;
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.policy-check-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
}
.input-wrapper {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-checkmark-icon {
  opacity: 0;
  fill: var(--secondary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .user-policy-label .policy-check-icon-wrapper {
  border: none;
  fill: var(--white-color);
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.user-policy-link {
  color: var(--social-icon-bg-color);
}

.molal-form-btn {
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 12px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.molal-form-btn:hover,
.molal-form-btn:focus {
  background-color: #404bbf;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 584px;
    overflow: scroll;
  }
}
